/*-------------------
 google font
 ------------------ */
.font-for-full-web{
    font-family: 'Poppins', sans-serif;
}
.google-font-for-slider{
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
  
}
/*-----------------
 slider button
  ------------------*/
.slider-batton{
   
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    box-shadow: 1px 1px 10px rgb(68, 68, 67);
    color: rgb(1, 1, 161);
}
/*------------
 widding card
 ------------ */
 .offer-cadrs{
border-radius: 24px;
width: 306px;
 }
.widding-offer-card{
color: rgb(112, 112, 112);
font-family: 'Poppins', sans-serif;

}
.widding-offer-batton{
padding: 13px 60px;
background-color: #f496d22f;
border-radius: 24px;
margin-top: 14px;
color:  #3F87F5;
font-size: 700; 
} 
.fa-check-circle{
    color: #5243c27e;
}
.offer-card-hover{
background-color: #3F87F5;
color: white;
box-shadow:1px 1px 10px rgb(81, 81, 247) ;
}
.card-of-backround-color{
    color: white;
}
/*-------------
 hot simbal
------------- */
.position-for-hot{
position: relative;
}
.hot-offer-card{
background-color: orangered;
color: rgb(255, 255, 255);
padding: 5px 15px ;
border-radius: 30px;
display: inline; 
position: absolute;
left: 230px;
top:-10px;

}


